
[Service]
ExecStart=
{% if 'vrf_external' in salt['grains.get']('ip_interfaces') %}
ExecStart=/sbin/ip vrf exec vrf_external /usr/sbin/pdns_recursor --daemon=no --write-pid=no --disable-syslog --log-timestamp=no
{% else %}
ExecStart=/usr/sbin/pdns_recursor --daemon=no --write-pid=no --disable-syslog --log-timestamp=no
{% endif %}
# Disable most of Sandboxing
#CapabilityBoundingSet=CAP_NET_BIND_SERVICE CAP_SETGID CAP_SETUID CAP_CHOWN CAP_SYS_CHROOT
CapabilityBoundingSet=
PrivateDevices=false
PrivateTmp=false
ProtectControlGroups=false
ProtectHome=false
ProtectKernelModules=false
ProtectKernelTunables=false
#ProtectSystem=full
ProtectSystem=
#RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictAddressFamilies=

