!/usr/bin/env bash

APPLICATION_KEY="{{ salt['pillar.get']('netbox:config_context:backblaze:application_key')  }}"
KEYID="{{ salt['pillar.get']('netbox:config_context:backblaze:keyid') }}"
export PASSPHRASE="{{ salt['pillar.get']('netbox:config_context:backup:password') }}"
BUCKET="FFMUC-Backups"


{% for backup_dir in salt['pillar.get']('netbox:config_context:backup:directories') %}
duplicity --full-if-older-than 7D /etc b2://$KEYID:$APPLICATION_KEY@$BUCKET/{{ grains.id }}{{ backup_dir }}
duplicity remove-older-than 14D --force b2://$KEYID:$APPLICATION_KEY@$BUCKET/{{ grains.id }}{{ backup_dir }}
{% endfor %}
unset PASSPHRASE