[Unit]
Description=Runs FFmuc-backup every day

[Timer]
OnCalendar=*-*-* 4:00:00
RandomizedDelaySec=3600
Unit=ffmuc-backup.service
Persistent=true

[Install]
WantedBy=timers.target