{%- from "jitsi/map.jinja" import jitsi with context %}
{%- set server_hosts = [] %}
{%- for shard in jitsi.xmpp.keys() %}
    {%- if "shard" in shard %}
        {%- do server_hosts.append(jitsi.xmpp[shard].server_host) %}
    {%- endif %}
{%- endfor %}
{
    "recording_directory":"{{ jitsi.jibri.recording_directory }}",
    "finalize_recording_script_path": "{{ jitsi.jibri.finalize_recording_script_path }}",
    "xmpp_environments": [
        {
            "name": "{{ jitsi.jibri.xmpp.environment_name }}",
            "xmpp_server_hosts": {{ server_hosts | replace("'",'"') }},
            "xmpp_domain": "{{ jitsi.xmpp.xmpp_domain }}",
            "control_login": {
                "domain": "{{ jitsi.jibri.xmpp.control_login.domain }}",
                "username": "{{ jitsi.jibri.xmpp.control_login.username }}",
                "password": "{{ jitsi.jibri.xmpp.control_login.password }}"
            },
            "control_muc": {
                "domain": "{{ jitsi.jibri.xmpp.control_muc.domain }}",
                "room_name": "{{ jitsi.jibri.xmpp.control_muc.room_name | default(jitsi.jibri.brewery_room) }}",
                "nickname": "{{ jitsi.jibri.xmpp.control_muc.nickname | default(jitsi.xmpp.muc_nickname) }}"
            },
            "call_login": {
                "domain": "{{ jitsi.jibri.xmpp.call_login.domain }}",
                "username": "{{ jitsi.jibri.xmpp.call_login.username }}",
                "password": "{{ jitsi.jibri.xmpp.call_login.password }}"
            },
            "room_jid_domain_string_to_strip_from_start": "conference.",
            "usage_timeout": "0"
        }
    ]
}