[Unit]
Description=respondd (Site %I)
After=syslog.target network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/srv/ffho-respondd/ext-respondd.py -c /srv/ffho-respondd/%i.conf

[Install]
WantedBy=multi-user.target
