{
  "batman": "{{ bat_iface }}",
  "bridge": "{{ mcast_iface }}",
{%- if mesh_vpn %}
  "mesh-vpn": ["{{ ('", "').join(mesh_vpn) }}"],
{%- endif %}
  "nodeinfo": {
    "hostname": "{{ hostname }}",
{%- if location and not location_hidden  %}
    "location": {
      "latitude": {{ location.latitude }},
      "longitude": {{ location.longitude }}
    },
{%- endif %}
    "software": {
      "firmware": {
        "release": "FFHO-1.0"
      }
    },
    "system": {
      "site_code": "{{ site_code }}"
    },
    "vpn": {{ fastd_peers }}
  }
}
