###
# Managed by Salt
###

server {
        listen 80;
        listen 443 ssl http2;

        server_name {{ domain }};

        ssl_certificate     /etc/letsencrypt/live/ffmuc.net/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/ffmuc.net/fullchain.pem;
        ssl_stapling off;

        root /srv/www/{{ domain }};
        index index.html;
}