{
  "batman": "bat0",
  "bridge": "br-client",
  "mesh-vpn": [ "mesh-vpn" ],
  "mesh-wlan": [ "ibss0", "mesh0" ],
  "fastd_socket": "/var/run/fastd.mesh_vpn.socket",
  "rate_limit": 30,
  "rate_limit_burst": 10
}

