#
# FFHO net rules (Salt managed)
#
{%- for iface, iface_config in salt['pillar.get']('nodes:' ~ grains['id'] ~ ':ifaces', {}).items () %}
  {%- if '_udev_mac' in iface_config %}
# {{ iface_config.get ('desc', '') }}
SUBSYSTEM=="net", ACTION=="add", DRIVERS=="?*", ATTR{address}=="{{ iface_config.get ('_udev_mac') }}", ATTR{dev_id}=="0x0", ATTR{type}=="1", KERNEL=="eth*", NAME="{{ iface }}"

  {%- endif %}
{%- endfor %}
