{%- set interfaces = salt['pillar.get']('netbox:interfaces') %}
{%- set uplink_vlan = salt['pillar.get']('netbox:config_context:network:uplink_vlan') %}
{%- set prefixes_v4 = [] %}
{%- set prefixes_v6 = [] %}
log syslog all;

protocol device {
}

protocol direct {
        ipv4;                   # Connect to default IPv4 table
        ipv6;                   # ... and to default IPv6 table
}
{%- if 'nextgen-gateway' in salt['pillar.get']('netbox:role:name') %}
{%- for iface in interfaces|sort%}
{%- if 'br' in iface %}
{%- for ipaddress in interfaces[iface]['ipaddresses']%}
{%- if ipaddress['family']['value'] == 6 %}
{%- do prefixes_v6.append(salt['network.calc_net'](ipaddress['address'])) %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- set nat66 = salt['pillar.get']('netbox:config_context:network:nat66_pool') %}
{%- if nat66 %}
protocol static {
        ipv6;
        route {{ nat66 }} blackhole;
}
{%- do prefixes_v6.append(nat66) %}
{%- endif %}
{%- endif %}

{%- for iface in interfaces|sort %}
{%- if 'dummy' in iface %}
{%- for ipaddress in interfaces[iface]['ipaddresses']%}
{%- if ipaddress['family']['value'] == 4 %}
{%- if iface == 'dummy0' %}
protocol kernel {
        ipv4 {                  # Connect protocol to IPv4 table by channel
              import all;       # Import to table, default is import all
              export filter {
                        if net ~ [ 0.0.0.0/0] then {
                            krt_prefsrc = {{ ipaddress['address'].split('/')[0] }};
                            accept;
                        }
                        };
        };
}
{%- endif %}
{%- do prefixes_v4.append(ipaddress['address']) %}
{%- else %}
{%- if iface == 'dummy0' %}
protocol kernel {
        ipv6 {

              import all;       # Import to table, default is import all
              export filter {
                        krt_prefsrc = {{ ipaddress['address'].split('/')[0] }};
                        {%- if salt['pillar.get']('netbox:role:name') == 'webserver-external' %}
                        krt_mtu = 1280;
                        {%- endif %} 
                        accept;
                        };
         };
}
{%- endif %}
{%- do prefixes_v6.append(ipaddress['address']) %}
{%- endif %}
{%- endfor %}
{%- endif %}
{% endfor %}

filter EXTERNAL_OUT {
  if net ~ {{ prefixes_v4 | string | regex_replace('\'','') }} then {
    accept;
  }
  reject;
}



filter EXTERNAL6_OUT {
  if net ~ {{ prefixes_v6 | string | regex_replace('\'','') }} then  {
    accept;
  }
  reject;
}

{%- for iface in interfaces|sort %}
{%- if iface == uplink_vlan['interface'] %}
{%- for ipaddress in interfaces[iface]['ipaddresses'] %}
{%- if ipaddress['family']['value'] == 4 %}
protocol bgp {{ iface }}_v4 {
        description "Uplink";
        local {{ ipaddress['address'].split('/')[0] }} as {{ uplink_vlan['local_asn'] }};
        neighbor {{ uplink_vlan['neighbor_v4'] }} as {{ uplink_vlan['remote_asn'] }};
        ipv4 {
                import all;
                export filter EXTERNAL_OUT;
        };
}
{%- else %}
protocol bgp {{ iface }}_v6 {
        local {{ ipaddress['address'].split('/')[0] }} as {{ uplink_vlan['local_asn'] }};
        neighbor {{ uplink_vlan['neighbor_v6'] }} as {{ uplink_vlan['remote_asn'] }};
        ipv6 {  
                import all;
                export filter EXTERNAL6_OUT;
        };
}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endfor %}