{%- from "jitsi/map.jinja" import jitsi with context %}
videobridge {
    apis {
        rest {
            # enable colibri rest interface
            enabled = true
        }
        xmpp-client {
            configs {
                shard1 {
                    hostname = "{{ jitsi.xmpp.server_host }}"
                    domain   = "{{ jitsi.xmpp.auth_domain }}"
                    username = "{{ jitsi.videobridge.username }}"
                    password = "{{ jitsi.videobridge.password }}"
                    muc_jids = "{{ jitsi.videobridge.brewery_room }}@{{ jitsi.xmpp.brewery_domain }}"
                    muc_nickname = "{{ jitsi.xmpp.muc_nickname }}"
                    disable_certificate_verification = true
                }
            }
        }
    }
    http-servers {
        public {
            # TODO: Split this to own var 
            host = {{ jitsi.videobridge.octo.ip_addr }}
            port = 9090
        }
        private {
            host = 127.0.0.1
            port = 8080
        }
    }
    ice {
        tcp {
            enabled = true
        }
    }
    load-management {
        reducer-enabled = false
        load-measurements {
            packet-rate {
                load-threshold = {{ jitsi.videobridge.load_management.packet_rate }}
                recovery-threshold = {{ ( jitsi.videobridge.load_management.packet_rate * 0.8 ) | round | int }}
            }
        }
    }
    {%- if jitsi.videobridge.octo.enabled %}
    octo {
        enabled = true
        bind-address = {{ jitsi.videobridge.octo.ip_addr }}
        bind-port = {{ jitsi.videobridge.octo.port }}
        region = "{{ jitsi.videobridge.octo.region }}"
    }
    {%- endif %}
    rest {
        shutdown {
            enabled = true
        }
    }
    stats {
        enabled = true
        interval = 10 seconds
        transports = [
            { type = "muc" }
        ]
    }
    websockets {
        enabled = true
        domain = "{{jitsi.public_domain}}:443"
        server-id = "{{ grains.id.split('.')[0] }}"
        tls = true
    }
}
