# enable stats collecting only for localhost
org.jitsi.videobridge.rest.private.jetty.host=127.0.0.1

org.ice4j.ice.harvest.DISABLE_AWS_HARVESTER=true
org.ice4j.ice.harvest.STUN_MAPPING_HARVESTER_ADDRESSES=turn1.meet.ffmuc.net:443
