#
# BGP sessions which are OK to be down (Salt managed)
#
{%- for peer in salt['pillar.get']('node:routing:bgp:internal:peers:down_OK') %}
{#-   save peers node name, mangle . and - to _ to make bird happy #}
{%-   set peer_name = salt['ffho.re_replace']('[.-]', '_', peer) %}
{{ peer_name }}
{%- endfor %}
