#
# Client specific configuration for {{ node }}
#

# Include common values for all clients
. incexc/common

{% for keyword in burp_config|sort %}
  {%- set argument = burp_config.get (keyword) %}
  {%- if argument is none %}
  {%- elif argument is string or argument is number %}
{{ keyword }} = {{ argument }}
  {%- else %}
    {%- for item in argument %}
{{ keyword }} = {{ item }}
    {%- endfor %}
  {%- endif %}
{% endfor %}
