#
# Client specific configuration for {{ node }}
#
password = {{ burp_config.get ('password') }}

. incexc/common

{%- for entry in burp_config.get ('include_fs') %}
include = {{ entry }}
{%- endfor %}
