#
# Burp server configuration (Salt managed)
#

mode = server

# The default addresses to listen on depend upon compile time options.
# They may be overridden here.
listen = {{ salt['pillar.get']('netbox:services:backup.in.ffmuc.net:ipaddresses:address') | regex_replace('/\d+$','') }}:4971

# Think carefully before changing the status port address, as it can be used
# to view the contents of backups.
#status_address = 10.132.251.71
# If you do not wish to run a status server at all, comment status_port out.

directory = /srv/burp

dedup_group = global
clientconfdir = /etc/burp/clientconfdir

# Automagically choose protocol
protocol = 0

pidfile = /var/run/burp.server.pid
hardlinked_archive = 0
working_dir_recovery_method = delete
max_children = 5
umask = 0022
syslog = 1
stdout = 0

# The following options can restrict what the client can do.
# Restore clients can override all of these expect for force_backup.
client_can_delete = 0
# Set client_can_force_backup to 0 to only allow timed backups.
client_can_force_backup = 1
client_can_list = 1
# Set client_can_restore to 0 if you want restores to only be initialised by
# the server.
client_can_restore = 1
client_can_verify = 1
# Ratelimit throttles the send speed. Specified in Megabits per second (Mb/s).
# ratelimit = 1.5
# Network timeout defaults to 7200 seconds (2 hours).
# network_timeout = 7200

# Server storage compression. Default is zlib9. Set to zlib0 to turn it off.
#compression = zlib9

# When the client version does not match the server version, log a warning.
# Set to 0 to turn it off.
version_warn = 1

# You can have as many 'keep' lines as you like.
# For example, if running backups daily, setting 7, 4, 6 will keep
# 7 daily backups, 4 weekly, and 6 four-weekly backups.
keep = 7
# keep = 4
# keep = 6

ca_crl_check = 0
ssl_cert_ca = /etc/ssl/certs/ffmuc-cacert.pem
ssl_cert = /etc/ssl/certs/{{ grains['id']  }}.cert.pem
ssl_key = /etc/ssl/private/{{ grains['id']  }}.key.pem
ssl_dhfile = /etc/ssl/dhparam.pem


timer_script = /usr/share/burp/scripts/timer_script
# Ensure that 20 hours elapse between backups
# Available units:
# s (seconds), m (minutes), h (hours), d (days), w (weeks), n (months)
timer_arg = 20h
# Allow backups to start in the evenings and nights during weekdays
timer_arg = Mon,Tue,Wed,Thu,Fri,00,01,02,03,04,05,19,20,21,22,23
# Allow more hours at the weekend.
timer_arg = Sat,Sun,00,01,02,03,04,05,06,07,08,17,18,19,20,21,22,23
# Note that, if you specify no timebands, the default timer script will never
# allow backups.

# Uncomment the notify_success_* lines for email notifications of backups that
# succeeded.
# In the subject line, the following are substituted:
# %b - "backup"/"restore"/"verify"
# %c - client name
# %w - number of warnings, if any
#notify_success_script = /usr/share/burp/scripts/notify_script
#notify_success_arg = sendmail -t
#notify_success_arg = To: hilfe@ffmuc.net
#notify_success_arg = From: hilfe@ffmuc.net
#notify_success_arg = Subject: %b succeeded: %c %w
# Uncomment the following to have success notifications only if there were
# warnings.
#notify_success_warnings_only = 1
# Uncomment the following to have success notifications only if there were
# new or changed files.
#notify_success_changes_only = 1

# Uncomment the following for email notifications of backups that failed.
notify_failure_script = /usr/share/burp/scripts/burp_notify_mattermost.sh
notify_failure_arg = %b %c %w
