#!/bin/bash
endpoint=https://chat.ffmuc.net/hooks/{{ salt['pillar.get']('netbox:services:chat.ffmuc.net:custom_fields:api_token') }}
username=burp
payload=$(cat <<-__EOF
payload={
    "username" : "$username",
    "channel" : "#NOC-Monitoring",
    "text" : "Burp backup for host $1 failed! Target dir was: $2"
    }
__EOF
)

curl -s -i -X POST -d "$payload" "$endpoint" > /dev/null
