#
# {{ node_id }}
#
{%- set roles = salt['mine.get'](node_id,'minion_roles')[node_id] %}
{%- set sites = salt['pillar.get']('netbox:config_context:sites') %}
{%- set address = salt['mine.get'](node_id,'minion_address', tgt_type='glob')[node_id] %}
{%- set address6 = salt['mine.get'](node_id,'minion_address6', tgt_type='glob')[node_id] %}

{%- if 'icinga2_server' not in roles %}
object Endpoint "{{ node_id }}" {
        host = "{{ node_id }}"
}

object Zone "{{ node_id }}" {
	endpoints = [ "{{ node_id }}" ]
	parent = "master"
}
{%- endif %}

object Host "{{ node_id }}" {
	import "generic-host"

	display_name = "{{ node_id }}"
	{% if 'mine_interval' not in address %}
	address = "{{ address | regex_replace('/\d+$','') }}"
	{% endif %}
	{% if 'mine_interval' not in address6 %}
	address6 = "{{ address6 | regex_replace('/\d+$','') }}"
	{% endif %}
        check_command = "hostalive"

	vars.os = "Linux"

	vars.roles = [
{%- for role in roles|sort %}
		"{{ role }}",
{%- endfor %}
	]

	vars.sites = [
{%- for site in sites|sort %}
		"{{ site }}",
{%- endfor %}
	]
}									
