/**
 * The example user 'icingaadmin' and the example
 * group 'icingaadmins'.
 */

object User "icingaadmin" {
  import "generic-user"

  display_name = "Icinga 2 Admin"
  groups = [ "icingaadmins" ]

  email = "root@localhost"
}

object UserGroup "icingaadmins" {
  display_name = "Icinga 2 Admin Group"
}

object User "mattermost" {
  import "generic-user"
  display_name = "Icinga2"
  enable_notifications = true
  vars.channel = "NOC-Monitoring" /* Use here the url channel name, ie. without special characters and spaces */
  vars.url = "https://chat.ffmuc.net/hooks/{{ salt['pillar.get']('netbox:services:chat.ffmuc.net:custom_fields:api_token') }}" /* Copy incoming Webhook URL defined in mattermost */
  vars.oneline = false /* Use true if you prefer having all output squashed on one line */
}
