{%- set interface_details = salt['pillar.get']('netbox:interfaces:' ~ interface) %}
#
# {{ interface }} / {{ desc }}
#

[Match]
Name={{ interface }}

[Network]
{%- if interface_details['tagged_vlans'] is not none %}
{%- for vlan in interface_details['tagged_vlans'] %}
VLAN={{ vlan['vid'] }}
{%- endfor %}
{%- endif %}
{%- for ipaddress in ipaddresses %}
Address={{ ipaddress['address'] }}
{%- endfor %}
DNS=1.1.1.1

{%- if interface in gateway %}
# We install the route provided for the site with a low metric
{%- for gw in gateway[interface] %}
[Route]
Gateway={{ gw }}
Destination=0.0.0.0/0
Metric=1024
{%- endfor %}
{%- endif %}

{%- if 'wg' in interface %}
[Network]
Address={{ salt['wireguard_v6.generate'](salt['pillar.get']('netbox:config_context:wireguard:public_key')) }}/128
VXLAN={{ interface | regex_replace('wg-', 'vx-') }}
{% for node,bla in salt['mine.get']('netbox:role:name:nextgen-gateway', 'minion_id', tgt_type='pillar').items() | sort %}
{%- if grains['id'] not in node %}
{%- set wireguard_public_key = salt['mine.get'](node,'minion_wireguard_public', tgt_type='glob')[node]  %}
{%- if wireguard_public_key %}
{%- set link_local = salt['wireguard_v6.generate'](wireguard_public_key) %}
[Route]
Destination={{ link_local }}/128
{%- endif %}
{%- endif %}
{%- endfor %}
{%- endif %}
