#
# {{ interface }} / {{ desc }}
#

[Match]
Name={{ interface }}

[Network]
VLAN={{ interface }}
{%- for ipaddress in ipaddresses %}
Address={{ ipaddress['address'] }}
{%- endfor %}
DNS=1.1.1.1
# We install the route provided for the site with a low metric
{% if interface in gateway %}
{% for gw in gateway[interface] %}
[Route]
Gateway={{ gw }}
Destination=0.0.0.0/0
Metric=1024
{% endfor %}
{% endif %}
