{%- if network_config.get ('device-type', 'tap') == 'tap' %}
  {%- for ip in host_stanza.get ('ip', []) %}
    {%- if ':' in ip %}
ifconfig-ipv6-push {{ ip }}/{{ network_config['netmask_v6'] }}
    {%- else %}
      {%- set mask = network_config['netmask_v4'] if '.' in network_config['netmask_v4']|string else '255.255.255.254' %}
ifconfig-push {{ ip }} {{ mask }}
    {%- endif %}
  {%- endfor %}
{%- endif %}
