#
# FFMUC eBGP configuration (Salt managed)
#

filter vpn_prefixes {
        if net ~ [
                172.20.0.0/15{24,24}
        ] then accept;

        reject;
};

filter default_out {
        if net ~ [
                0.0.0.0/0
        ] then accept;
        reject;
};

template bgp ebgp {
        import filter vpn_prefixes;
        export filter default_out;
        table VPN;
        local as AS_OWN;
        enable route refresh yes;
        graceful restart yes;
}
{% for prefix_name in prefix_4 %}
{% set interface = prefix_name.split("@")[1] %}
protocol bgp {{ interface }} from ebgp {
        neighbor {{ salt['netaddress.list_cidr_ips'](prefix_4[prefix_name])[-1] }} as 64512;
        source address {{ salt['netaddress.list_cidr_ips'](prefix_4[prefix_name])[0] }};
}
{% endfor %}