#
# FFMUC eBGP configuration (Salt managed)
#

filter vpn_prefixes {
        if net ~ [
                2001:608:a01:200::/56{64,64}
        ] then accept;

        reject;
};

filter default_out {
        if net ~ [
                ::/0
        ] then accept;

        reject;
};

template bgp ebgp {
        import filter vpn_prefixes;
        export filter default_out;
        table VPN;
        local as AS_OWN;
        enable route refresh yes;
        graceful restart yes;
}

{% for interface in interfaces | sort %}
{% if 'wg-' in interface %}
protocol bgp {{ interface.split('wg-')[1]}} from ebgp {
        neighbor {{ salt['netaddress.list_cidr_ips'](interfaces[interface]['ipaddresses'][1]['address'])[-1] }} as {{ 64512 + interfaces[interface]['ipaddresses'][0]['address'].split('.')[3]| regex_replace('/31','') | int }};
        source address {{ salt['netaddress.list_cidr_ips'](interfaces[interface]['ipaddresses'][1]['address'])[0] }};
}
{% endif %}
{% endfor %}