{%- set priv_key = salt.file.read('/etc/wireguard/keys/server-priv.key') %}
{%- set pub_key = salt.file.read('/etc/wireguard/keys/client-' ~ interface ~  '-pub.key') %}

{% set port = 51820 + prefix_4[prefix_name].split('.')[3]| regex_replace('/31','') | int %}

# /etc/wireguard/wg-client.conf 
[Interface]
PrivateKey = {{ priv_key }}
ListenPort = {{ port }}

[Peer]
PublicKey = {{ pub_key }}
AllowedIPs = {{ prefix_4[prefix_name] }}, 172.20.0.0/24, {{ prefix_6[prefix_name] }}, 2001:608:a01:200::/64