# -*- coding: utf-8 -*-
# vim: ft=jinja

{%- import_yaml "jitsi/defaults.yaml" as default_settings %}

{#- Retrieve the config dict only once #}
{%- set _config = salt['pillar.get']("netbox:config_context:jitsi", default={}) %}

{% set jitsi = salt['grains.filter_by'](
    default_settings,
    default='jitsi',
    merge=_config,
)
%}
{# some fallbacks #}
{%- if "component-user" == jitsi.xmpp.username %}
{%- do jitsi.xmpp.update({'username' : grains.id.split('.')[0] + "." + jitsi.xmpp.auth_domain }) %}
{%- endif %}

{%- if not jitsi.xmpp.muc_nickname %}
{%- do jitsi.xmpp.update({'muc_nickname' : grains.id.split('.')[0] + "." + jitsi.xmpp.auth_domain }) %}
{%- endif %}